[Unit]
Description="{{ wrench_name }}-saashq-short-worker %I"
PartOf={{ wrench_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ wrench_cmd }} worker --queue long
StandardOutput=file:{{ wrench_dir }}/logs/worker.log
StandardError=file:{{ wrench_dir }}/logs/worker.error.log
WorkingDirectory={{ wrench_dir }}
