[Unit]
Description="{{ wrench_name }}-redis-queue"
PartOf={{ wrench_name }}-redis.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ redis_server }} {{ redis_queue_config }}
StandardOutput=file:{{ wrench_dir }}/logs/redis-queue.log
StandardError=file:{{ wrench_dir }}/logs/redis-queue.error.log
WorkingDirectory={{ sites_dir }}
